.main-hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image{
    background-image: url("../Image/bg_add_car.jpg");
    background-size: cover;
}

.center{
    position: absolute;
    left: 0;
    right: 0;
}

.center h2{
    color: #F8FF00;
    margin: 0 auto;
    padding-bottom: 16px;
}

.form-add-car{
    margin: 0 auto;
    padding: 24px;
    background-color: #292929;
}

.form-add-car input, .form-add-car select, .form-add-car label{
    display: block;
    color:  white;
    margin-top: 6px;
}

.form-add-car select{
    margin-bottom: 12px;
}

.form-add-car  select, .form-add-car  input{
    color: black;
    text-decoration: none;
    border: none;
    width: 100%;
}

.form-add-car label .form-add-car p{
    color: white;
    padding: 8px 0;
}

option{
    padding: 12px;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    .form-add-car{
        width: 80%;
    }

    .center{
        top: 5%;
    }

    .form-add-car select, .form-add-car input{
        height: 25px;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .form-add-car{
        width: 70%;
    }

    .center{
        top: 10%
    }

    .form-add-car select, .form-add-car input{
        height: 30px;
    }
}

@media (min-device-width: 1025px) {
    .form-add-car{
        width: 60%;
    }

    .center{
        top: 12%;
    }

    .form-add-car select, .form-add-car input{
        height: 35px;
    }
}

/*.div-input-label{*/
/*    position: relative;*/
/*}*/

/*.labelToTop{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    transition: 0.2s;*/
/*}*/

/*input:focus + .labelToTop {*/
/*    top: 100%;*/
/*    margin-top: -16px;*/
/*}*/

/*input:valid {*/
/*    background: white;*/
/*}*/