.main-hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image{
    background-image: url("../Image/bg_add_car.jpg");
    background-size: cover;
}

.center{
    position: absolute;
    left: 0;
    right: 0;
}

.center h2{
    color: #F8FF00;
    margin: 0 auto;
    padding-bottom: 16px;
}

table{
    margin: 0;
    width: 100%;
    table-layout: fixed;
}

.form-add-car{
    margin: 0 auto;
    padding: 24px;
    background-color: #292929;
}

.form-add-car input, .form-add-car select, .form-add-car label{
    display: block;
    color:  rgba(255, 255 , 255 , 0.87);
    background-color: inherit;
    margin-top: 6px;
}

.input-text{
    border: none;
    border-bottom: rgba(255, 255 , 255 , 0.87) solid 1px;
    width: 75%;
}

.input-text:focus{
    border-bottom: #F8FF00 solid 1px;
}

.input-text:invalid{
    border-bottom: red solid 1px;
}

input[type = number]{
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-add-car select{
    margin-bottom: 12px;
    outline: none;
}

.form-add-car  select{
    text-decoration: none;
}

.form-add-car label .form-add-car p{
    padding: 8px 0;
}

#car_photo{
    background-color: inherit;
}

option{
    padding: 12px;
    color: #292929;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    .form-add-car{
        width: 80%;
    }

    .center{
        top: 5%;
    }

    .form-add-car select, .form-add-car input{
        height: 25px;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .form-add-car{
        width: 70%;
    }

    .center{
        top: 10%
    }

    .form-add-car select, .form-add-car input{
        height: 30px;
    }
}

@media (min-device-width: 1025px) {
    .form-add-car{
        width: 60%;
    }

    .center{
        top: 12%;
    }

    .form-add-car select, .form-add-car input{
        height: 35px;
    }
}