.main-hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image{
    background-image: url("../Image/booking_background.jpg");
    background-size: cover;
}

.center-booking{
    position: absolute;
    left: 0;
    right: 0;
}

.center-booking h2{
    color: #F8FF00;
    margin: 0 auto;
    padding-bottom: 16px;
}

.form-booking{
    margin: 0 auto;
    padding: 24px;
    background-color: #222831;
    display: flex;
    flex-wrap: nowrap;
}

.form-booking > div{
    flex: 1;
    margin: 0 12px;
    vertical-align: center;
}

.form-booking input, .form-booking select, .form-booking label{
    display: block;
}

.form-booking select, .form-booking input{
    color: black;
    text-decoration: none;
    border: none;
    width: 100%;
}

.form-booking label{
    color: white;
    margin-bottom: 6px;
}

#button_booking{
    height: 100%;
}

option{
    padding: 12px;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    .form-booking{
        width: 90%;
        display: block;
        padding: 12px;
    }

    .form-booking label{
        color: white;
        margin: 12px 0;
    }

    .form-booking input{
        margin: 12px 0;
    }

    .center-booking{
        top: 15%;
    }

    .form-booking select, .form-booking input{
        height: 25px;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .form-booking{
        width: 80%;
        display: block;
        padding: 20px;
    }

    .form-booking label{
        color: white;
        margin: 16px 0;
    }

    .form-booking input{
        margin: 16px 0;
    }

    .center-booking{
        top: 20%
    }

    .form-booking select, .form-booking input{
        height: 30px;
    }
}

@media (min-device-width: 1025px) {
    .form-booking{
        width: 70%;
    }

    .center-booking{
        top: 35%;
    }

    .form-booking select, .form-booking input{
        height: 35px;
    }

}