button{
    outline: none;
    text-decoration: none;
    font-family: Nunito;
}

.button-more{
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.1);
    border: 2px solid white;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}


.button-more:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.input-login{
    border: none;
    border-bottom: #C8C8C8 solid 2px;
    outline: none;
    font-family: Nunito;
    transition: border-bottom-color 0.4s;
}

.input-login:focus{
    border-bottom: #F8FF00 solid 2px;
}

.button-login{
    border: #F8FF00 solid 2px;
    width: 40%;
    height: 20%;
    margin-top: 16px;
    padding: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.button-login:hover{
    background-color: #F8FF00;
    font-weight: bold;
    cursor: pointer;
}