button{
    outline: none;
    text-decoration: none;
    font-family: Nunito;
}

.button-more{
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.1);
    border: 2px solid white;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.input-login, .input-account{
    width: 50%;
    border: none;
    border-bottom: #C8C8C8 solid 2px;
    outline: none;
    font-family: Nunito;
    transition: border-bottom-color 0.4s;
    background-color: inherit;
}

.input-login:focus, .input-account:focus{
    border-bottom: #F8FF00 solid 2px;
}



.button-login{
    border: #F8FF00 solid 2px;
    width: 40%;
    height: 20%;
    margin-top: 16px;
    padding: 4px;
    background-color: #F8FF00;
}

.button-save{
    border: #F8FF00 solid 2px;
    height: 30px;
    padding: 4px;
    background-color: #F8FF00;
    margin-top: 16px;
}

.button-booking{
    border: none;
    background-color: #F8FF00;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    padding: 4px;
    font-size: 20px;
}

.button-search{
    border: none;
    background-color: #F8FF00;
    height: 35px;
    margin: 0 auto;
    padding: 4px;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    .button-booking{
        font-size: 16px;
    }

    .input-account{
        width: 90%;
    }

    .button-save{
        width: 90%;
    }

    .button-search{
        width: 20%;
    }

}

@media (min-device-width: 481px) and (max-device-width: 1024px) {

    .button-booking{
        font-size: 20px;
    }

    .input-account{
        width: 40%;
    }

    .button-save{
        width: 40%;
    }

}

@media (min-device-width: 1025px) {
    .button-login:hover{
        font-weight: bold;
        cursor: pointer;
    }

    .button-more:hover{
        background-color: white;
        color: #292929;
        cursor: pointer;
    }

    .button-booking:hover{
        cursor: pointer;
        font-weight: bold;
    }

    .button-save:hover{
        cursor: pointer;
        font-weight: bold;
    }

    .button-booking{
        font-size: 24px;
    }

    .input-account{
        width: 20%;
    }

    .button-save{
        width: 20%;
    }

}