
/*Car*/
.card-column {
    float: left;
    width: 33%;
    padding: 0 10px;
    height: 50%;
    margin: 12px 0;
}

.result:after {
    content: "";
    display: table;
    clear: both;
}

.card-content {
    box-shadow: -3px 3px 10px 1px rgba(153,153,153,1);
    margin: 12px 6px 6px;
    background: white url("../SVG/wave.svg") no-repeat;
}

.card-car{
    width: 22%;
    height: 33%;
}

.card-car-image{
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    /*Card car*/
    .card-column {
        float: none;
        width: 90%;
        display: block;
        margin: 24px auto;
    }

    .card-car-image{
        width: 150px;
        height: 150px;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .card-column{
        width: 50%;
    }

    .card-car-image{
        width: 200px;
        height: 200px;
    }
}

@media (min-device-width: 1025px) {

}