main{
    height: 100%;
}

.left-half {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../Image/porsche_face.jpg");
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-half {
    background-color: white;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.main-login{
    position: absolute;
    top: 35%;
    left: 10%;
}

.main-login > *{
    display: block;
    margin: 8px;
}

.link-login{
    color: #F8FF00;
    margin: 8px;
    padding: 0;
    font-size: 16px;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
}

@media (min-device-width: 1025px) {

}