/*TODO ajouter https://dev.to/peiche/css-only-floating-label-3cp*/
main{
    height: 100%;
}

.left-half {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}

.right-half {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.main-login{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 70%;
}

.main-login > *{
    display: block;
    margin: 8px;
}

.link-login{
    color: #F8FF00;
    margin: 8px;
    padding: 0;
    font-size: 16px;
}

.button-login{
    background-color: inherit;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {

    .main-login input{
        background: transparent;
    }

    .right-half > * , .left-half > *{
        color: white;
    }

    .button-login{
        color: white;
        background-color: #F8FF00;
        caret-color: white;
    }

    input{
        color: white;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
}

@media (min-device-width: 1025px) {

}