.table-user{
    overflow: hidden; /*hide content on overflow*/
    margin: 32px auto;
    border-collapse: collapse;
}

.table-user th{
    font-family: Montserrat;
    background-color: #F8FF00;
    text-align: left;
    padding: 12px;
    border: none;
    color: black;
    font-weight: bold;
}

.table-user td{
    background-color: white;
    font-family: Nunito;
    padding: 12px;
    height: 20px;
}

.table-user tr{
    border-bottom: #f9fae9 solid 2px;
}

.item{
    width: 100%;
    margin-top: 4px;
    border-bottom: #f5f5f5 solid 4px;
}

.item-image{
    float: left;
    max-width: 300px;
    height: auto;
    padding-top: 12px;
}

.item-div{
    flex: 1;
}

.icon_table{
    padding-top: 2px;
    width: 18px;
    height: 18px;
}

.icon_table:hover{
    cursor: pointer;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    .table-user{
        width: 90%;
        overflow: hidden;
    }

    /*To display scroll bar*/
    .table-container{
        width: 100%;
        overflow: scroll;
    }

}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .table-user{
        width: 80%;
        overflow: hidden;
    }

    /*To display scroll bar*/
    .table-container{
        width: 100%;
        overflow: scroll;
    }
}

@media (min-device-width: 1025px) {
    .table-user{
        width: 70%;
    }
}