.table-user{
    margin: 32px auto;
    border-collapse: collapse;
}

.table-user thead tr{
    border: none;
    color: black;
    font-weight: bold;
}

.table-user th{
    font-family: Montserrat;
    background-color: #F8FF00;
    text-align: left;
    padding: 12px;
}

.table-user td{
    background-color: white;
    font-family: Nunito;
    padding: 12px;
    height: 20px;
}

.item{
    width: 100%;
    margin-top: 4px;
    border-bottom: #f5f5f5 solid 4px;
}

.item-image{
    float: left;
    max-width: 300px;
    height: auto;
    padding-top: 12px;
}

.item-div{
    flex: 1;
}
@media (min-device-width: 0px) and (max-device-width: 480px) {
    .table-user{
        width: 90%;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .table-user{
        width: 80%;
    }
}

@media (min-device-width: 1025px) {
    .table-user{
        width: 70%;
    }
}