.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F8FF00;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    position: sticky;
}

a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

.header > *{
    flex: 1;
}

.header_main-menu > li{
    float: right;
    padding: 10px;
    color: white;
    position: relative;
    list-style-type: none;
}
.header_main-menu li a {
    font-size: 15px;
}
.header_main-menu > li:hover > a{
    color: black;
    font-weight: bold;
}
.header_main-menu {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}


