/*https://github.com/adtile/fixed-nav*/
/*https://www.w3schools.com/howto/howto_js_mobile_navbar.asp*/
.header {
    width: 100%;
    background-color: #F8FF00;
}

a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

.header_main-menu > li{
    list-style-type: none;
}

.header_main-menu li a {
    font-size: 20px;
}

#burger_menu{
    width: 20px;
    height: 20px;
}

#logo_car{
    width: 40px;
    height: 40px;
}




@media (min-device-width: 0px) and (max-device-width: 480px) {
    .header {
        overflow: hidden;
        position: relative;
    }

    #links{
        display: none;
    }


    .header a {
        text-decoration: none;
        color: white;
        padding: 10px;
        display: block;
        transition: .5s;
    }

    .header a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header_main-menu > li{
        float: none;
        text-align: center;
        border-bottom: white solid 1px;
    }


    #burger_menu{
        display: block;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
}

@media (min-device-width: 1025px) {

}

@media (min-device-width: 481px) {
    .header a.icon {
       display: none;
    }

    .header_main-menu{
        position: absolute;
        top: 0;
        right: 0;
    }

    .header_main-menu > li{
        float: right;
        color: white;
        position: relative;
    }

    .header_main-menu > li:hover > a{
        color: black;
        font-weight: bold;
    }



}
