.main-hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-hero-text > *{
    margin: 16px 0;
    color: white;
    width: 100%;
}

.image1{
    background: linear-gradient(0deg, rgba(0,0,0,0.8995973389355743) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.7035189075630253) 50%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,0.9) 100%), url("../Image/fiat500.jpg");
    background-size: cover;
}

.image2{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8995973389355743) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.7035189075630253) 50%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,0.9) 100%), url("../Image/hero_special_rental.jpg");
}

.image3{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8995973389355743) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.7035189075630253) 50%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,0.9) 100%), url("../Image/hero_truck_rental.jpg");
}

@media  (min-device-width: 0px) and (max-device-width: 480px){
    .main-hero-text{
        position: absolute;
        top: 25%;
        margin: 0 32px;
    }

    .main-hero-text > *{
        margin: 16px 0;
    }

    .main-hero-image{
        height: 75%;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px){
    .main-hero-text{
        position: absolute;
        top: 30%;
        margin: 0 32px;
    }

    .main-hero-text > *{
        margin: 16px 0;
    }

    .main-hero-image{
        height: 60%;
    }
}

@media (min-device-width: 1025px){
    .main-hero-text{
        position: absolute;
        top: 20%;
        left : 50%;
    }

    .image2 > .main-hero-text{
        position: absolute;
        top: 20%;
        left : 10%;
    }
}