.center h2{
    color: #F8FF00;
    margin: 0 auto;
    padding-bottom: 16px;
}

.form-booking{
    margin: 0 auto;
    padding: 24px;
    background-color: black;
}

.form-booking input, .form-booking select, .form-booking label{
    display: inline-block;
}

.form-booking select, .form-booking input{
    color: black;
    text-decoration: none;
    border: none;
    height: 30px;
    width: 20%;
}

.form-booking label, .form-booking p{
    color: white;
    padding: 8px 0;
}

option{
    padding: 12px;
}

/*Filtre */

.selection{
    margin: 8px 32px;
}

.selection select{
    margin: 8px 0;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    .center{
        margin: 16px auto;
    }

    .form-booking{
        width: 80%;
    }


    .form-booking select, .form-booking input{
        height: 25px;
    }

    .form-booking select, .form-booking input, .form-booking label{
        width: 100%;
    }

    .selection select{
        margin: 4px 0;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .center{
        margin: 24px auto;
    }

    .form-booking{
        width: 70%;
    }


    .form-booking select, .form-booking input{
        height: 30px;
    }
}

@media (min-device-width: 1025px) {
    .center{
        margin: 32px auto;
    }

    .form-booking{
        width: 60%;
    }

    .form-booking select, .form-booking input{
        height: 35px;
    }

}