.center h2{
    color: #F8FF00;
    margin: 0 auto;
    padding-bottom: 16px;
}

#button_selection{
    height: 100%;
}

/*Filtre */
.selection{
    margin: 8px 32px;
}

.selection select{
    margin: 8px 0;
}

/*Card*/
.car-container{
    width: 80%;
    margin: 0 auto;
}

.car-container > *{
    box-sizing: content-box; /*broke page layout if not here because all element are border-box in all.css*/
}

.card-column {
    display: inline-block;
    width: 31%;
    padding: 0 10px;
    height: 50%;
    margin: 12px 0;
}

.card-content {
    box-shadow: -3px 3px 10px 1px rgba(153,153,153,1);
    margin: 12px 6px 6px;
    border-radius: 20px;
    width: 100%;
}

.card-car-image{
    display: block;
    width: 100%;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.button-car-booking{
    width: 100%;
    height: 30px;
    background-color: #F8FF00;
    border: none;
}

.link-booking-summary{
    border: none;
    background-color: #F8FF00;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    padding: 4px;
    font-size: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.car-container h3{
    padding-left: 8px;
}

.car-container td{
    padding: 0 4px;
}



.icon{
    margin-top: 4px;
}

.brand{
    padding: 0 0 0 8px ;
    color: #9e9e9e;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    /*Form*/
    .center{
        margin: 16px auto;
    }

    .form-booking{
        width: 80%;
    }


    .selection select{
        margin: 4px 0;
    }

    /*Card car*/
    .card-column {
        width: 100%;
        display: block;
        padding: 0;
        margin: 24px 0;
    }

    .icon{
        width: 16px;
        height: 16px;
    }

}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .card-column{
        width: 45%;
    }

    .car-container{
        width: 90%;
    }

    .card-car-image{
        height: 200px;
    }

    .icon{
        width: 20px;
        height: 20px;
    }

}

@media (min-device-width: 1025px) {
    .center{
        margin: 32px auto;
    }

    .link-booking-summary:hover{
        font-weight: bold;
        color: black;
    }

    .icon{
        width: 25px;
        height: 25px;
    }
}