.center h2{
    color: #F8FF00;
    margin: 0 auto;
    padding-bottom: 16px;
}

#button_selection{
    height: 100%;
}

/*Filtre */

.selection{
    margin: 8px 32px;
}

.selection select{
    margin: 8px 0;
}

/*Car*/
.card-column {
    float: left;
    width: 33%;
    padding: 0 10px;
    height: 50%;
    margin: 12px 0;
}

/* Remove extra left and right margins, due to padding in columns */
.result {
    margin: 0 -5px;
}

.result:after {
    content: "";
    display: table;
    clear: both;
}

.card-content {
    box-shadow: -3px 3px 10px 1px rgba(153,153,153,1);
    margin: 12px 6px 6px;
    background: white url("../SVG/wave.svg") no-repeat;
}

.card-car{
    width: 22%;
    height: 33%;
}

.card-car-image{
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
/*Fix affichage des lignes*/

/*TODO le mettre dans le Button.css*/
.button-car-booking{
    width: 100%;
    height: 30px;
    background-color: #F8FF00;
    border: none;
}

@media (min-device-width: 0px) and (max-device-width: 480px) {
    /*Form*/
    .center{
        margin: 16px auto;
    }

    .form-booking{
        width: 80%;
    }


    .selection select{
        margin: 4px 0;
    }

    /*Card car*/
    .card-column {
        float: none;
        width: 90%;
        display: block;
        margin: 24px auto;
    }

    .card-car-image{
        width: 150px;
        height: 150px;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .center{
        margin: 24px auto;
    }

    /*Card car*/

    .card-column{
        width: 50%;
    }

    .card-car-image{
        width: 200px;
        height: 200px;
    }
}

@media (min-device-width: 1025px) {
    .center{
        margin: 32px auto;
    }
}