.car-container{
    width: 80%;
    margin: 0 auto;
}

.car-container > *{
    box-sizing: content-box;
}

.card-column {
    display: inline-block;
    width: 30%;
    padding: 0 10px;
    height: 50%;
    margin: 12px 0;
}

.card-content {
    box-shadow: -3px 3px 10px 1px rgba(153,153,153,1);
    margin: 12px 6px 6px;
    border-radius: 20px;
    width: 100%;
}

.card-car-image{
    display: block;
    width: 100%;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.button-car-booking{
    width: 100%;
    height: 30px;
    background-color: #F8FF00;
    border: none;
}

.link-booking-summary{
    border: none;
    background-color: #F8FF00;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    padding: 4px;
    font-size: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


@media (min-device-width: 0px) and (max-device-width: 480px) {
    /*Form*/
    .center{
        margin: 16px auto;
    }

    .form-booking{
        width: 80%;
    }


    .selection select{
        margin: 4px 0;
    }

    /*Card car*/
    .card-column {
        width: 100%;
        display: block;
        padding: 0;
        margin: 24px 0;
    }

}

@media (min-device-width: 481px) and (max-device-width: 1024px) {
    .card-column{
        width: 45%;
    }

}

@media (min-device-width: 1025px) {
    .center{
        margin: 32px auto;
    }

    .link-booking-summary:hover{
        font-weight: bold;
        color: black;
    }
}