h1, h2, h3{
    font-family: Montserrat;
}

p{
    font-family: Nunito;
}

@media (min-device-width: 0px) and (max-device-width: 480px)
{
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    p, a{
        font-size: 16px;
    }
}

@media (min-device-width: 0) and (max-device-width: 830px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    p, a{
        font-size: 18px;
    }

}


@media (min-device-width: 1081px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 22px;
    }
    p, a{
        font-size: 20px;
    }
}