h1, h2, h3{
    font-family: Montserrat;
}

p, a, label, select, input, option{
    font-family: Nunito;
}

select{
    border: none;
}

a:hover{
    cursor: pointer;
}

input{
    outline: none;
    background-color: white;
}

select{
    background-color: white;
}


@media  (min-device-width: 0px) and (max-device-width: 480px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    p, a, label{
        font-size: 16px;
    }
    .little{
        font-size: 12px;
    }

}

@media (min-device-width: 481px) and (max-device-width: 1024px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    p, a, label{
        font-size: 20px;
    }
    .little{
        font-size: 16px;
    }


}


@media (min-device-width: 1025px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 30px;
    }
    p, a, label{
        font-size: 24px;
    }
    .little{
        font-size: 20px;
    }

}