h1, h2, h3{
    font-family: Montserrat;
}

p, a, label{
    font-family: Nunito;
}

a:hover{
    cursor: pointer;
}

@media  (min-device-width: 0px) and (max-device-width: 480px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    p, a{
        font-size: 16px;
    }
}

@media (min-device-width: 481px) and (max-device-width: 1024px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    p, a{
        font-size: 20px;
    }

}


@media (min-device-width: 1025px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 30px;
    }
    p, a{
        font-size: 24px;
    }
}